<div style='background:#E8E9EA; padding:10px; font-size:12px;font-family: Arial,Helvetica,sans-serif; color:#333;'>
    <div style='border:solid 1px #ccc; width:600px; margin:0 auto; background:#fff;'>
        <div style='padding:10px;'>
            <table cellpadding='0' cellspacing='0' width='100%'>
                <tr>
                    <td style='width:200px;'>
                        <img src="/Assets/images/logo.png" alt="Đặt lịch bảo dưỡng - datlichbaoduong.com" />
                    </td>
                    <td align='right'>
                        <h1 style='margin:0; padding:0; font-size:120%;'>Lịch bảo dưỡng</h1>
                    </td>
                </tr>
            </table>
            <div style='border-bottom:solid 1px #FB9438; border-top:solid 1px #f1f1f1; margin-top:10px;'></div>
            <div style='line-height:20px;'>
                <div style='margin-top:10px;'>
                    <fieldset style='border:solid 1px #057F34; padding:10px;;'>
                        <legend style='font-weight:bold;color:#F39723; border:solid 1px #057F34; background:#fff;'>Thông tin đặt lịch của khách hàng</legend>
                        <table cellpadding='0' cellspacing='0'>
                            <tr>
                                <td>
                                    Họ và tên:
                                </td>
                                <td>
                                    <b>{CUSTOMERNAME}</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Số điện thoại:
                                </td>
                                <td>
                                    <b>{CUSTOMERPHONE}</b>
                                </td>
                            </tr>
                            <tr>
                                <td style='width:120px;'>Hãng xe đã chọn: </td>
                                <td><b>{MANUFACTURER}</b></td>
                            </tr>
                            <tr>
                                <td>Dòng xe đã chọn:</td>
                                <td><b>{MODEL}</b></td>
                            </tr>
                            <tr>
                                <td>
                                    Năm đã chọn:
                                </td>
                                <td>
                                    <b>{YEAR}</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nội dung:
                                </td>
                                <td>
                                    <b>{CONTENT}</b>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div style='margin-top:20px;color:#f00;'><b>Lưu ý:</b> Thông tin này là bảo mật.</div>
                <div>Đăng nhập vào tài khoản của bạn bất kỳ lúc nào để thay đổi thông tin cá nhân, đăng bán xe và sử dụng các tiện ích của <b>Vienauto.com.</b></div>
                <div style='margin:20px;'>
                    <a href='http://www.vienauto.com/dang-nhap.html' title='Click để đăng nhập'><span style='text-decoration:none; border:solid 1px #ccc; display:inline-block; background:#FB9539; padding:2px 10px; font-weight:bold; color:#fff;'>Click để đăng nhập</span></a>
                </div>
            </div>
        </div>
        <div style='background:#005FB3;color:#fff; padding-left:20px;padding-top:20px; padding-bottom:20px;'>
            <div><a href='http://www.vienauto.com' style='font-weight:bold; font-size:150%; margin-bottom:5px; text-decoration: none; color: #fff;' title='Vienauto.com'>vienauto.com</a></div>
            <div>10 – 11 Nguyễn Hữu Thọ, Phước Kiển, Huyện Nhà Bè, TP.HCM</div>
            <div>Điện thoại: (08) 3784 0438 – 3784 0439</div>
            <div>Fax: (08) 38446 439</div>
            <div>Email: info@vienauto.com</div>
        </div>
        <div style='height:20px;'></div>
    </div>
</div>