<script>
    $(document).ready(function () {
        $(".fb-comments").attr("data-href", window.location.href);
    });
</script>
<div class="container">
    <div class="content">
        <p style="font-weight: bold; margin-top: 20px;">
            Bình luận về dịch vụ
        </p>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="facebook">
            <div class="fb-comments" data-href="" data-numposts="5"></div>
        </div>
    </div>
</div>

