@Styles.Render("~/Css/Footer")
<section id="sp-bottom">
    <div class="container">
        <div class="row">
            <div id="sp-bottom1" class="col-sm-6 col-md-4">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <h3 class="sp-module-title">Liên kết trang</h3><div class="sp-module-content">
                            <ul class="nav menu">
                                <li class="item-685"><a href="http://dongsonoto.com" target="_parent">Đồng sơn ô tô giá rẻ</a></li>
                                <li class="item-686"><a href="http://suaotoacura.com" target="_parent">Trung tâm sửa chữa bảo hành Acura</a></li>
                                <li class="item-687"><a href="http://suaotoaudi.com" target="_parent">Trung tâm sửa chữa bảo hành Audi</a></li>
                                <li class="item-688"><a href="http://suaotobmw.com" target="_parent">Trung tâm sửa chữa bảo hành BMW</a></li>
                                <li class="item-689"><a href="http://suaotofiat.com" target="_parent">Trung tâm sửa chữa bảo hành Fiat</a></li>
                                <li class="item-689"><a href="http://suaotoford.com" target="_parent">Trung tâm sửa chữa bảo hành Ford</a></li>
                                <li class="item-689"><a href="http://suaotomazda.com" target="_parent">Trung tâm sửa chữa bảo hành Mazda</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sp-bottom2" class="col-sm-6 col-md-4">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <h3 class="sp-module-title">Dịch vụ của chúng tôi</h3><div class="sp-module-content">
                            <ul class="nav menu">
                                @*<li class="item-690"><a href="/dịch-vụ-lam-đẹp-xe-oto/boc-da-noi-that-xe-oto">Bọc da nội thất Ôtô</a></li>
                                    <li class="item-691"><a href="/dịch-vụ-lam-đẹp-xe-oto/op-carbon-xe-oto">Ốp carbon Ôtô</a></li>
                                    <li class="item-692"><a href="/dịch-vụ-lam-đẹp-xe-oto/phu-nano-xe-oto">Phủ nano Ôtô</a></li>
                                    <li class="item-693"><a href="/dịch-vụ-lam-đẹp-xe-oto/dan-phim-cach-nhiet">Dán phim cách nhiệt</a></li>
                                    <li class="item-694"><a href="/dịch-vụ-lam-đẹp-xe-oto/danh-bong-xe">Đánh bóng Ôtô</a></li>*@
                                <li class="item-690"><a href="#">Đồng sơn ô tô</a></li>
                                <li class="item-691"><a href="#">Sửa chữa máy gầm</a></li>
                                <li class="item-692"><a href="#">Sửa chữa điện điện lạnh</a></li>
                                <li class="item-693"><a href="#">Bảo dưỡng định kỳ</a></li>
                                <li class="item-694"><a href="#">Chăm sóc nội thất</a></li>
                                <li class="item-694"><a href="#">Chăm sóc ngoại thất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @*<div id="sp-bottom3" class="col-sm-6 col-md-3">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <h3 class="sp-module-title">Dịch vụ sơn Ôtô</h3><div class="sp-module-content">
                                <ul class="nav menu">
                                    <li class="item-695"><a href="#">Sơn body Ôtô</a></li>
                                    <li class="item-696"><a href="/">Sơn mâm xe Ôtô</a></li>
                                    <li class="item-697"><a href="#">Sơn choá đèn Ôtô</a></li>
                                    <li class="item-698"><a href="#">Sơn cùm thắng Ôtô</a></li>
                                    <li class="item-699"><a href="#">Sơn da nội thất Ôtô</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div id="sp-bottom4" class="col-sm-3 col-md-4">
                <div class="sp-column ">
                    <div class="sp-module ">
                        <h3 class="sp-module-title">Thông tin liên hệ</h3><div class="sp-module-content">
                            <div class="custom">
                                <p>
                                    <a href="http://www.vienauto.com" style="font-size: 15px; color: #fff; font-weight: bold;" target="_parent">VIỆN AUTO</a>
                                </p>
                                <p>Địa chỉ: 10 - 11, Nguyễn Hữu Thọ, Phước Kiển, Nhà Bè, TP.HCM</p>
                                <p>Điện thoại: (08) 3784 0438/ 3784 0439</p>
                                <p>Di động: 0909 878 369</p>
                                <p>Web: <a href="http://www.dichvu.vienauto.com" target="_parent">dichvu.vienauto.com</a></p>
                                <p>Email: info@vienauto.com </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="sp-footer">
    <div class="container">
        <div class="row">
            <div id="sp-footer1" class="col-sm-12 col-md-12">
                <div class="sp-column ">
                    <span class="sp-copyright">
                        <span class="sp-footer-left">
                            Copyright &copy; 2016 Datlichbaoduong. All rights reserved.
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>